@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: #f9c48b;
    font-size: 12px;
}

img {
    width: 100%;
}

span {
    flex-basis: auto;
}

@media screen and (min-width: 768px) {
    html {
    font-size: 1.2rem;}
    body {
    background-color: #f69051;}
}

@media screen and (min-width: 992px) {
    html {
    font-size: 1.4rem;}
    body {
    background-color: red;}
}
